#comparePicL{
    margin-top: 10px;
    margin-left: 30px;
    height: 100px;
    width: 100px;
    border: 5px solid #660066;

}

#comparePicR{
    margin-top: 10px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    border: 5px solid #ff9900;
}
#compareNameL{
    background-color: #660066;
}

#compareNameR{
    background-color: #ff9900;
}

.compareNames{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    margin-top: -10px;
}

.compareNames p {
    color: white;
    padding: 2px;
    font-size: 12pt;
}

.compareStanceTop{
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 15px;
    align-self:right;
    width: 190px;
    margin-top: 13px;
    margin-right: 10px;
}

.compareStanceBot{
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 15px;
    align-self:right;
    width: 190px;
    margin-right: 10px;
}

.compareStanceTop::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background:  #660066;
}

.compareStanceBot::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ff9900;
}

.compareStance{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 7px;
}
#compareBarLabel {
    font-size: 14px;
    text-align: right;
    word-spacing: 48px;
    margin-right: 5px;
    margin-bottom: -10px;
    margin-top: -5px;
    font-weight: bold;
}